
.logo {
    margin-top: 44px;
    margin-bottom: 28px;
    color: #fff;
    font-size: 54px;

}

.logo-text {
    background: linear-gradient(#E18700, #FFD43A);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-right: 1rem;
}
img {
    width: 3%;
    border-radius: 6px;
}

@media  (max-width: 600px){
    img {
        width: 49px;
    }
}