* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
  font-family: sans-serif;
  /* background: linear-gradient(#232630, #050506); */
  background-image: url(/public/flag-bra.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: 100%;
  min-height: 100vh;
  color: white;
  font-family: 'Roboto', sans-serif;

}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}
.fundo {
  
}
